aside {
    background-color: $colorBackAside;
    padding: 10px 0px 10px 0px;

    .vermas {
        color: black;
    }
    .bank {
        margin: 10px 15px;
        max-width: 150px;
        max-height: 150px;
    }
    .button-medios {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}
