.formulario {
    display: block;

    .formulario-contacto {
        background-color: $colorBackForm;
        border-radius: 8px;
        text-align: center;
        margin: 10px auto;
        padding: 10px;
        textarea {
            height: 100px;
        }
        .boton-enviar {
            background-color: $colorButtonForm;
            color: white;
        }
    }
}
